{% extends "main_templates.html" %}
{% load static %}
{% block content %}
<style type="text/css">
</style>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-6">
			<h1>
				CONTACT US
			</h1>
			<p>
				To contact us,
				please fill out the following form.
			</p>
			<form>
				<p>Name</p>
				<input type="" name="">
				<p>Email</p>
				<input type="" name="">
				<p>Phone</p>
				<input type="" name="">
				<p>Massage</p>
				<input type="" name="">
			</form>
			<button type="submit" class="btn btn-dark" title="Create New Category">
				<span>
					Create
				</span>
			</button>
		</div>
		<div class="col-5">
			<h1>
				OUR CONTACTS
			</h1>
			<p>
				Kharkiv, Freedom Square, 7
			</p>
			<p>
				Phone: +380639993211
			</p>
			<p>
				Email:info@unitspace.top
			</p>
		</div>
	</div>
</div>
{% endblock %}